.maplibregl-ctrl.maplibregl-ctrl-attrib {
  padding: 0 5px;
  background-color: rgb(var(--ml-c-bg) / 65%);
  margin: 0;
  font: var(--ml-font-footer);
}

/* not print */
@media screen {
  .maplibregl-ctrl-attrib.maplibregl-compact {
    min-height: 20px;
    padding: 2px 24px 2px 0;
    margin: 10px;
    position: relative;
    background-color: rgb(var(--ml-c-bg));
    color: rgb(var(--ml-c-text));
    border-radius: 12px;
  }

  .maplibregl-ctrl-attrib.maplibregl-compact-show {
    padding: 2px 28px 2px 8px;
  }

  .maplibregl-ctrl-top-left > .maplibregl-ctrl-attrib.maplibregl-compact-show,
  .maplibregl-ctrl-bottom-left > .maplibregl-ctrl-attrib.maplibregl-compact-show {
    padding: 2px 8px 2px 28px;
    border-radius: 12px;
  }

  .maplibregl-ctrl-attrib-button {
    cursor: pointer;
    position: absolute;

    width: 24px;
    height: 24px;
    border-radius: 12px;
    outline: none;
    top: 0;
    right: 0;
    border: 0;
    box-sizing: border-box;
  }

  .maplibregl-ctrl-attrib-button::before {
    content: "\e808";
    margin: 2px 5px;
    font-size: 14px;
  }

  .maplibregl-ctrl-top-left .maplibregl-ctrl-attrib-button,
  .maplibregl-ctrl-bottom-left .maplibregl-ctrl-attrib-button {
    left: 0;
  }

  .maplibregl-ctrl-attrib.maplibregl-compact-show .maplibregl-ctrl-attrib-button {
    background-color: rgb(var(--ml-c-gray-1));
  }
}

.maplibregl-ctrl-attrib a {
  color: rgb(var(--ml-c-text));
  text-decoration: none;
}

.maplibregl-ctrl-attrib a:hover {
  color: rgb(var(--ml-c-neutral));
  text-decoration: underline;
}

.maplibregl-attrib-empty {
  display: none;
}
