.maplibregl-ctrl-group {
  border-radius: var(--ml-ctrl-border-radius);
  background: rgb(var(--ml-c-bg));
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: var(--ml-shadow-ctrl);
}

@media (forced-colors: active) {
  .maplibregl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 2px ButtonText;
  }
}

.maplibregl-ctrl-group button + button {
  border-top: 1px solid rgb(var(--ml-c-gray-2));
}

@media (forced-colors: active) {
  .maplibregl-ctrl-group button + button {
    border-top: 1px solid ButtonText;
  }
}

.maplibregl-ctrl-group button:first-child {
  border-radius: var(--ml-ctrl-border-radius) var(--ml-ctrl-border-radius) 0 0;
}

.maplibregl-ctrl-group button:last-child {
  border-radius: 0 0 var(--ml-ctrl-border-radius) var(--ml-ctrl-border-radius);
}

.maplibregl-ctrl-group button:only-child {
  border-radius: inherit;
}
