.maplibregl-ctrl-scale {
  background-color: rgb(var(--ml-c-bg) / 65%);
  font: var(--ml-font-footer);
  border-width: medium 2px 2px;
  border-style: none solid solid;
  border-color: rgb(var(--ml-c-icon));
  padding: 0 5px;
  color: rgb(var(--ml-c-icon));
  box-sizing: border-box;
}
