.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 10px 0 0 10px;
  float: left;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 10px 10px 0 0;
  float: right;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 10px 10px;
  float: left;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
  margin: 0 10px 10px 0;
  float: right;
}
