:root {
  --ml-ctrl-border-radius: 4px;
  --ml-font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  --ml-font-attribution: 12px/20px "Helvetica Neue", Arial, Helvetica,
    sans-serif;

  --ml-c-bg-1: #ffffff;
  --ml-c-bg-2: #f0f0f0;
  --ml-c-bg-3: #d7d7d7;

  --ml-c-icon-1: #333333;
  --ml-c-icon-2: #000000;
  --ml-c-active: #1da1f2;
  --ml-c-error: #e54e33;
  --ml-c-outline: #1da1f2;
  --ml-o-disabled: 0.25;
  --ml-shadow-ctrl: 0 0 0 2px rgb(0 0 0 / 10%);
  --ml-shadow-popup: 0 1px 2px rgb(0 0 0 / 10%);
  --ml-c-link-1: #333333;
  --ml-c-link-2: #000000;

  --ml-c-logo-1: #ffffff;
  --ml-c-logo-2: #d7d7d7;

  --ml-c-geoloc: #1da1f2;

  /**
   * --ml-c-outline is only used here
   */
  --ml-outline: 0 0 2px 2px var(--ml-c-outline);

  --ml-font-icons: "maplibregl-icons-default";
}

.dark {
  --ml-c-bg-1: #111725;
  --ml-c-bg-2: #414853;
  --ml-c-bg-3: #32363f;

  --ml-c-icon-1: #cbd5e1;
  --ml-c-icon-2: #ffffff;
  --ml-c-link-1: #cbd5e1;
  --ml-c-link-2: #ffffff;

  --ml-shadow-ctrl: 0 0 0 2px rgb(0 0 0 / 35%);
  --ml-shadow-popup: 0 0 0 2px rgb(0 0 0 / 35%);

  --ml-c-logo-1: #111725;
  --ml-c-logo-2: #32363f;
}

@media (forced-colors: active) and (prefers-color-scheme: light) {
  :root,
  .dark {
    --ml-c-bg-1: #ffffff;
    --ml-c-bg-2: #c8c8c8;
    --ml-c-bg-3: #b4b4b4;

    --ml-c-icon-1: #000000;
    --ml-c-icon-2: #000000;

    --ml-c-logo-1: #ffffff;
    --ml-c-logo-2: #b4b4b4;

    --ml-c-error: #ff0000;
  }
}

@media (forced-colors: active) {
  :root,
  .dark {
    --ml-c-bg-1: #000000;
    --ml-c-bg-2: #414853;
    --ml-c-bg-3: #32363f;

    --ml-c-icon-1: #ffffff;
    --ml-c-icon-2: #ffffff;

    --ml-c-logo-1: #000000;
    --ml-c-logo-2: #32363f;

    --ml-c-error: #ff0000;
  }
}
