.maplibregl-user-location-dot {
  background-color: var(--ml-c-geoloc);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.maplibregl-user-location-dot::before {
  background-color: var(--ml-c-geoloc);
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  animation: maplibregl-user-location-dot-pulse 2s infinite;
}

.maplibregl-user-location-dot::after {
  border-radius: 50%;
  border: 2px solid var(--ml-c-bg-1);
  content: "";
  height: 19px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 19px;
  box-sizing: border-box;
  box-shadow: 0 0 3px rgb(0 0 0 / 35%);
}

@keyframes maplibregl-user-location-dot-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.maplibregl-user-location-dot-stale {
  background-color: var(--ml-c-error);
}

.maplibregl-user-location-dot-stale::after {
  display: none;
}

.maplibregl-user-location-accuracy-circle {
  background-color: color-mix(in oklab, var(--ml-c-geoloc) 20%, transparent);
  width: 1px;
  height: 1px;
  border-radius: 100%;
}
