.maplibregl-popup-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
}

.maplibregl-popup-close-button:hover {
  background-color: rgb(0 0 0 / 5%);
}

.maplibregl-popup-content {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  padding: 15px 10px;
}
