.maplibregl-popup-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
  min-width: 20px;
  font-size: 16px;
  color: rgb(var(--ml-c-icon));
}

.maplibregl-popup-close-button:hover {
  background-color: rgb(var(--ml-c-gray-1));
}

.maplibregl-popup-close-button:active {
  background-color: rgb(var(--ml-c-gray-2));
}

.maplibregl-popup-content {
  background: rgb(var(--ml-c-bg));
  border-radius: 3px;
  box-shadow: var(--ml-shadow);
  padding: 20px;
}
