.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right,
.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.maplibregl-ctrl-top-left {
  top: 0;
  left: 0;
}

.maplibregl-ctrl-top-right {
  top: 0;
  right: 0;
}

.maplibregl-ctrl-bottom-left {
  bottom: 0;
  left: 0;
}

.maplibregl-ctrl-bottom-right {
  right: 0;
  bottom: 0;
}

.maplibregl-ctrl {
  clear: both;
  pointer-events: auto;

  /* workaround for a Safari bug https://github.com/mapbox/mapbox-gl-js/issues/8185 */
  transform: translate(0, 0);
}
