.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 10px 0 0 10px;
  float: left;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 10px 10px 0 0;
  float: right;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 10px 10px;
  float: left;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
  margin: 0 10px 10px 0;
  float: right;
}

.maplibregl-ctrl-group {
  border-radius: 4px;
  background: #fff;
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

@media (forced-colors: active) {
  .maplibregl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 2px ButtonText;
  }
}
