.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 0.5rem 0 0 0.5rem;
  float: left;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 0.5rem 0.5rem 0 0;
  float: right;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 0.5rem 0.5rem;
  float: left;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
  margin: 0 0.5rem 0.5rem 0;
  float: right;
}
