.maplibregl-ctrl button.maplibregl-ctrl-terrain .maplibregl-ctrl-icon::before {
  content: "\e810";
}

.maplibregl-ctrl button.maplibregl-ctrl-terrain-enabled .maplibregl-ctrl-icon::before {
  color: rgb(var(--ml-c-active));
  content: "\e810";
}
