.maplibregl-cooperative-gesture-screen {
  background: rgba(0 0 0 / 40%);
  color: white;
  padding: 1rem;
  font-size: 1.4em;
  line-height: 1.2;
  transition: opacity 1s ease 1s;
}

.maplibregl-cooperative-gesture-screen.maplibregl-show {
  transition: opacity 0.05s;
}
