@import "tailwindcss";

@source "../node_modules/pentatrion-design/dist/lib";
@source "../node_modules/pentatrion-design/dist/components";
@source "../node_modules/pentatrion-design/dist/hooks";

@import "pentatrion-design/tailwind/variants.css";
@import "./icons/fontello.css";

@import "pentatrion-design/tailwind/theme.css" layer(theme);
@import "pentatrion-design/tailwind/base.css" layer(base);

@import "pentatrion-design/tailwind/components-input-outline.css"
  layer(components);
@import "pentatrion-design/tailwind/components-range.css" layer(components);
@import "pentatrion-design/tailwind/components-resize-area.css"
  layer(components);
@import "pentatrion-design/tailwind/components-step.css" layer(components);
@import "pentatrion-design/tailwind/components.css" layer(components);

@import "pentatrion-design/tailwind/utilities.css";
@import "pentatrion-design/tailwind/utilities-dialog.css" layer(utilities);

html {
  font-size: 16px;
  line-height: 24px;
  color-scheme: normal;
  --sidebar-menu-width: 350px;
}

body {
  @apply bg-gray-0 font-sans text-gray-7;
}

dark {
  color-scheme: dark;
}

html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
}

.app-logo {
  font-family: maplibregl-icons-core;
}

[data-floating-ui-portal] [role="dialog"] {
  min-width: 16rem;
}

.z-notification {
  z-index: 200;
}

.grid-cols-repeat-fill-color {
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}
