.maplibregl-ctrl button,
.maplibregl-ctrl-attrib-button {
  color: var(--ml-c-icon-1);
}

.maplibregl-ctrl-group button {
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

@media (forced-colors: active) {
  .maplibregl-ctrl-icon {
    background-color: transparent;
  }
}

/* https://bugzilla.mozilla.org/show_bug.cgi?id=140562 */
.maplibregl-ctrl button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.maplibregl-ctrl-group button:focus {
  z-index: 2;
  position: relative;
}

.maplibregl-ctrl-attrib-button:focus,
.maplibregl-ctrl-group button:focus {
  box-shadow: var(--ml-outline);
}

.maplibregl-ctrl button:disabled {
  cursor: not-allowed;
}

.maplibregl-ctrl button:disabled .maplibregl-ctrl-icon {
  opacity: var(--ml-o-disabled);
}

.maplibregl-ctrl button:not(:disabled):hover,
.maplibregl-ctrl-attrib-button:not(:disabled):hover {
  background-color: var(--ml-c-bg-2);
}
/**
 * needed 
 * .active -> mapboxgl-draw
 * .-active -> https://github.com/korywka/mapbox-controls
 */
.maplibregl-ctrl button:not(:disabled):is(.active, .-active) {
  color: var(--ml-c-active);
}

.maplibregl-ctrl button:not(:disabled):active,
.maplibregl-ctrl-attrib-button:not(:disabled):active {
  background-color: var(--ml-c-bg-3);
}

.maplibregl-ctrl-group button:focus:focus-visible {
  box-shadow: var(--ml-outline);
}

.maplibregl-ctrl-group button:focus:not(:focus-visible) {
  box-shadow: none;
}
