.maplibregl-ctrl-scale {
  background-color: color-mix(in oklab, var(--ml-c-bg-1) 65%, transparent);
  font: var(--ml-font-footer);
  border-width: medium 2px 2px;
  border-style: none solid solid;
  border-color: var(--ml-c-icon-1);
  padding: 0 5px;
  color: var(--ml-c-icon-1);
  box-sizing: border-box;
}
