:root {
  --ml-ctrl-border-radius: 1rem;
  --ml-font: 16px/24px system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ml-font-attribution: inherit;

  --ml-c-error: 229 78 51;

  --ml-c-bg: 255 255 255;
  --ml-c-neutral: 0 0 0;

  /*
   * text: content of popup, attribution
   * icon: control buttons (hover effect -> neutral)
   */
  --ml-c-text: 51 51 51; /* --color-gray-7 */
  --ml-c-icon: 51 51 51; /* --color-gray-7 */

  /*
   * gray-1 usually hover effect
   * gray-2 active effect
   */
  --ml-c-gray-0: 255 255 255; /* --color-gray-0 */
  --ml-c-gray-1: 240 240 240; /* --color-gray-1 */
  --ml-c-gray-2: 215 215 215; /* --color-gray-2 */

  --ml-c-disabled: 180 180 180; /* --color-gray-4 */

  --ml-c-outline: 219 167 38; /* --color-yellow-5 */

  --ml-c-active: 29 161 242;
  --ml-c-geoloc: 29 161 242;

  /**
   * button group / popup shadow
   * shadow-active: when your button is active
   */
  --ml-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15); /* shadow */
  --ml-shadow-active: 0 10px 15px -3px rgb(0 0 0 / 0.15), 0 4px 6px -2px rgb(0 0 0 / 0.15);
  --ml-ring-shadow: 0 0 0px 2px rgb(var(--ml-c-outline) / 1);
}

.dark {
  --ml-c-bg: 17 23 37;
  --ml-c-neutral: 255 255 255;

  --ml-c-text: 203 213 225;
  --ml-c-icon: 255 255 255;

  --ml-c-gray-0: 17 23 37;
  --ml-c-gray-1: 65 72 83;
  --ml-c-gray-2: 50 54 63;

  --ml-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15); /* shadow */
}

@media (forced-colors: active) and (prefers-color-scheme: light) {
  :root,
  .dark {
    --ml-c-bg: 255 255 255;
    --ml-c-neutral: 0 0 0;

    --ml-c-text: 0 0 0;
    --ml-c-icon: 0 0 0;

    --ml-c-disabled: 102 102 102;

    --ml-c-gray-0: 255 255 255;
    --ml-c-gray-1: 200 200 200;
    --ml-c-gray-2: 180 180 180;

    --ml-c-gray-2: 0 0 0;

    --ml-c-error: 255 0 0;
  }
}

@media (forced-colors: active) {
  :root,
  .dark {
    --ml-c-bg: 0 0 0;
    --ml-c-neutral: 255 255 255;

    --ml-c-text: 255 255 255;
    --ml-c-icon: 255 255 255;

    --ml-c-disabled: 153 153 153;

    --ml-c-gray-0: 0 0 0;
    --ml-c-gray-1: 65 72 83;
    --ml-c-gray-2: 50 54 63;

    --ml-c-error: 255 0 0;
  }
}
